@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider Theme="AppThemes.KargardoonTheme" @bind-IsDarkMode="_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<NavMenu IsDarkMode="_isDarkMode" ToggleDarkMode="ToggleDark" />

<MudMainContent>
    <div class="pa-4">@Body</div>
</MudMainContent>

@code {
    private bool _isDarkMode = false;
    void ToggleDark() => _isDarkMode = !_isDarkMode;
}
