@inherits LayoutComponentBase
@using MudBlazor
@using BlazorApp3.Layout        @* جایی که NavMenu قرار دارد *@

<!-- تم و سرویس‌های سراسری -->
<MudThemeProvider Theme="_theme" @bind-IsDarkMode="_isDarkMode" DefaultScrollbar="true" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<!-- منوی بالای صفحه -->
<NavMenu IsDarkMode="_isDarkMode"
         ToggleDarkMode="ToggleDark" />

<!-- محتوای اصلی -->
<MudMainContent>
    <div class="pa-4">
        @Body
    </div>
</MudMainContent>

@code {
    /* وضعیت تم */
    private bool _isDarkMode;

    /* تعریف تم سفارشی */
    private readonly MudTheme _theme = new()
    {

            PaletteLight = new PaletteLight
            {
                Primary = Colors.DeepPurple.Darken2,
                Secondary = Colors.Green.Accent4,
                AppbarBackground = Colors.BlueGray.Darken3,
                Background = Colors.Gray.Lighten5,
                Surface = Colors.Shades.White
            },
            PaletteDark = new PaletteDark
            {
                Primary = Colors.DeepPurple.Lighten1,
                Secondary = Colors.Green.Lighten1,
                Background = Colors.Gray.Darken4,
                Surface = Colors.Gray.Darken3
            }
    };

    /* سوییچ روشن/تاریک */
    private void ToggleDark() => _isDarkMode = !_isDarkMode;
}
